{% extends "base.html" %}

{% block content %}
    <div class="category-container">
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='Ilisha') }}">
                <img src="{{ url_for('static', filename='ilisha.jpg') }}" alt="Ilisha">
                <!--<h2>Ilisha Singh Kaurav</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='Shambhavi') }}">
                <img src="{{ url_for('static', filename='shambhavi.jpg') }}" alt="Shambhavi">
                <!-- <h2>Shambhavi Singh</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='HarshalaPatil') }}">
                <img src="{{ url_for('static', filename='harshalaapatil.jpg') }}" alt="Harshala">
                <!-- <h2>Harshala Patil</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='ManaviVerma') }}">
                <img src="{{ url_for('static', filename='manavi.jpg') }}" alt="Manavi">
                <!-- <h2>Manavi Verma</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='Sina') }}">
                <img src="{{ url_for('static', filename='sina.jpg') }}" alt="Sina">
                <!-- <h2>Sina</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='Pooja') }}">
                <img src="{{ url_for('static', filename='pooja.jpg') }}" alt="Pooja">
                <!-- <h2>Pooja</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='Aayushi') }}">
                <img src="{{ url_for('static', filename='aayushi.jpg') }}" alt="Aayushi">
                <!-- <h2>Aayushi</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='AayushiVerma') }}">
                <img src="{{ url_for('static', filename='aayushiverma.jpg') }}" alt="Aayushi Verma">
                <!-- <h2>Aayushi Verma</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='IshaJain') }}">
                <img src="{{ url_for('static', filename='ishajain.jpg') }}" alt="Isha Jain">
                <!-- <h2>Isha Jain</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='AditiBhatia') }}">
                <img src="{{ url_for('static', filename='aditibhatia.jpg') }}" alt="Aditi Bhatia">
                <!-- <h2>Aditi Bhatia</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='PrekshaMakhija') }}">
                <img src="{{ url_for('static', filename='prekshamakhija.jpg') }}" alt="Preksha Makhija">
                <!-- <h2>Preksha Makhija</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='EvaGiri') }}">
                <img src="{{ url_for('static', filename='evagiri.jpg') }}" alt="Eva Giri">
                <!-- <h2>Eva Giri</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='RaveenKapatia') }}">
                <img src="{{ url_for('static', filename='raveenkapatia.jpg') }}" alt="Raveen Kapatia">
                <!-- <h2>Raveen Kapatia</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='AmritaSingh') }}">
                <img src="{{ url_for('static', filename='amritasingh.jpg') }}" alt="Amrita Singh">
                <!-- <h2>Amrita Singh</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='AmyAela') }}">
                <img src="{{ url_for('static', filename='amyaela.jpg') }}" alt="Amy Aela">
                <!-- <h2>Amy Aela</h2> -->
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='AsfaSinha') }}">
                <img src="{{ url_for('static', filename='asfasinha.jpg') }}" alt="Asfa Sinha">

            </a>
        </div> 
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='AveeraSinghMasson') }}">
                <img src="{{ url_for('static', filename='aveerasinghmasson.jpg') }}" alt="Aveera Singh Masson">
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='DikshaSingh') }}">
                <img src="{{ url_for('static', filename='dikshasingh.jpg') }}" alt="Diksha Singh">

            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='SoniaSinghKhatri') }}">
                <img src="{{ url_for('static', filename='soniasinghkhatri.jpg') }}" alt="Sonia Singh Khatri">

            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='MalikaTomar') }}">
                <img src="{{ url_for('static', filename='malikatomar.jpg') }}" alt="Malika Tomar">
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='ManyaArora') }}">
                <img src="{{ url_for('static', filename='manyaarora.jpg') }}" alt="Manya Arora">
            </a>
        </div>

        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='YuktiThareja') }}">
                <img src="{{ url_for('static', filename='yuktithareja.jpg') }}" alt="Yukti Thareja">
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='KashishMehta') }}">
                <img src="{{ url_for('static', filename='kashishmehta.jpg') }}" alt="Kashish Mehta">
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='PayalTosyan') }}">
                <img src="{{ url_for('static', filename='payaltosyan.jpg') }}" alt="Payal Tosyan">
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='D') }}">
                <img src="{{ url_for('static', filename='d.jpg') }}" alt=D">
            </a>
        </div>
        <div class="category-card">
            <a href="{{ url_for('show_images', category_name='Yashita') }}">
                <img src="{{ url_for('static', filename='yashita.jpg') }}" alt="Yashita">
            </a>
        </div>
        
    </div>
{% endblock %}

{% block styles %}
    <style>
        body, html {
            overflow-y: hidden;
        }
        .category-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;
            height: 100%;
        }
        .category-card {
            width: 420px;
            height: auto;
            margin: 10px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .category-card:hover {
            transform: scale(1.02);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
        }
        .category-card img {
            width: 100%;
            height: 60%;
            object-fit: cover;
        }
        .category-card a {
            text-decoration: none;
            color: black;
            height: 40%;
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}